william.joel=> \d album
                       Table "pacilmusic.album"
    Column    |         Type          | Collation | Nullable | Default
--------------+-----------------------+-----------+----------+---------
 album_id     | integer               |           | not null |
 album_name   | character varying(50) |           | not null |
 release_date | date                  |           | not null |
 singer_id    | character(3)          |           | not null |
Indexes:
    "album_pkey" PRIMARY KEY, btree (album_id)
Foreign-key constraints:
    "album_singer_id_fkey" FOREIGN KEY (singer_id) REFERENCES singer(id) ON UPDATE CASCADE ON DELETE CASCADE
Referenced by:
    TABLE "song" CONSTRAINT "song_album_id_fkey" FOREIGN KEY (album_id) REFERENCES album(album_id) ON UPDATE CASCADE ON DELETE CASCADE





william.joel=> \d users
                    Table "pacilmusic.users"
 Column |         Type          | Collation | Nullable | Default
--------+-----------------------+-----------+----------+---------
 userid | character varying(5)  |           | not null |
 uname  | character varying(20) |           | not null |
 utype  | character varying(20) |           | not null |
Indexes:
    "users_pkey" PRIMARY KEY, btree (userid)
Referenced by:
    TABLE "user_playlist" CONSTRAINT "user_playlist_userid_fkey" FOREIGN KEY (userid) REFERENCES users(userid) ON UPDATE CASCADE ON DELETE CASCADE



william.joel=> \d singer
                    Table "pacilmusic.singer"
 Column |         Type          | Collation | Nullable | Default
--------+-----------------------+-----------+----------+---------
 id     | character(3)          |           | not null |
 name   | character varying(30) |           | not null |
 stype  | character varying(30) |           | not null |
Indexes:
    "singer_pkey" PRIMARY KEY, btree (id)
Referenced by:
    TABLE "album" CONSTRAINT "album_singer_id_fkey" FOREIGN KEY (singer_id) REFERENCES singer(id) ON UPDATE CASCADE ON DELETE CASCADE
    TABLE "song_singer" CONSTRAINT "song_singer_singer_id_fkey" FOREIGN KEY (singer_id) REFERENCES singer(id) ON UPDATE CASCADE ON DELETE CASCADE


william.joel=> \d song
                        Table "pacilmusic.song"
    Column    |         Type          | Collation | Nullable | Default
--------------+-----------------------+-----------+----------+---------
 sid          | character(4)          |           | not null |
 stitle       | character varying(50) |           | not null |
 release_date | date                  |           | not null |
 album_id     | integer               |           |          |
 play_count   | integer               |           |          |
Indexes:
    "song_pkey" PRIMARY KEY, btree (sid)
Foreign-key constraints:
    "song_album_id_fkey" FOREIGN KEY (album_id) REFERENCES album(album_id) ON UPDATE CASCADE ON DELETE CASCADE
Referenced by:
    TABLE "song_singer" CONSTRAINT "song_singer_song_id_fkey" FOREIGN KEY (song_id) REFERENCES song(sid) ON UPDATE CASCADE ON DELETE CASCADE
    TABLE "user_playlist_song" CONSTRAINT "user_playlist_song_songid_fkey" FOREIGN KEY (songid) REFERENCES song(sid) ON UPDATE CASCADE ON DELETE CASCADE



william.joel=> \d song_singer
              Table "pacilmusic.song_singer"
  Column   |     Type     | Collation | Nullable | Default
-----------+--------------+-----------+----------+---------
 song_id   | character(4) |           | not null |
 singer_id | character(3) |           | not null |
Indexes:
    "song_singer_pkey" PRIMARY KEY, btree (song_id, singer_id)
Foreign-key constraints:
    "song_singer_singer_id_fkey" FOREIGN KEY (singer_id) REFERENCES singer(id) ON UPDATE CASCADE ON DELETE CASCADE
    "song_singer_song_id_fkey" FOREIGN KEY (song_id) REFERENCES song(sid) ON UPDATE CASCADE ON DELETE CASCADE



william.joel=> \d user_playlist
                  Table "pacilmusic.user_playlist"
   Column   |         Type         | Collation | Nullable | Default
------------+----------------------+-----------+----------+---------
 userid     | character varying(5) |           | not null |
 playlistid | integer              |           | not null |
Indexes:
    "user_playlist_pkey" PRIMARY KEY, btree (userid, playlistid)
Foreign-key constraints:
    "user_playlist_userid_fkey" FOREIGN KEY (userid) REFERENCES users(userid) ON UPDATE CASCADE ON DELETE CASCADE
Referenced by:
    TABLE "user_playlist_song" CONSTRAINT "user_playlist_song_userid_fkey" FOREIGN KEY (userid, playlistid) REFERENCES user_playlist(userid, playlistid) ON UPDATE CASCADE ON DELETE CASCADE




william.joel=> \d user_playlist_song
               Table "pacilmusic.user_playlist_song"
   Column   |         Type         | Collation | Nullable | Default
------------+----------------------+-----------+----------+---------
 userid     | character varying(5) |           | not null |
 playlistid | integer              |           | not null |
 songid     | character(4)         |           | not null |
Indexes:
    "user_playlist_song_pkey" PRIMARY KEY, btree (userid, playlistid, songid)
Foreign-key constraints:
    "user_playlist_song_songid_fkey" FOREIGN KEY (songid) REFERENCES song(sid) ON UPDATE CASCADE ON DELETE CASCADE
    "user_playlist_song_userid_fkey" FOREIGN KEY (userid, playlistid) REFERENCES user_playlist(userid, playlistid) ON UPDATE CASCADE ON DELETE CASCADE




