{% extends 'base_customer.html' %}




{% block meta %}




    <title>HOTEL</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        .dashboard-section {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>


{% endblock meta %}
{% block content %}

<body>
    <h1>HOTEL</h1>

    <div class="dashboard-section">
        <h2>Informasi Profil Pengguna</h2>
        <table>
            <tr>
                <th>Nama Pemilik Hotel</th>
                <td>{{fname}} {{lname}} </td>
            </tr>
            <tr>
                <th>Nomor HP</th>
                <td>{{phonenum}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{email}}</td>
            </tr>
            <tr>
                <th>Nomor Izin Usaha</th>
                <td>{{nib}}</td>
            </tr>
            <tr>
                <th>Nama Hotel</th>
                <td>{{hotel_name}}</td>
            </tr>
            <tr>
                <th>Alamat Hotel</th>
                <td>{{street}}, {{city}}, {{province}}</td>
            </tr>
        </table>
    </div>

    <div class="dashboard-section">
        <h2>Daftar Kamar</h2>
        <table>
            
            <tr>
                <th>Nomor Kamar</th>
                <th>Harga</th>
                <th>Lantai</th>
                <th>Daftar Fasilitas</th>
                
           </tr>
           {% for room in room_data %}
            <tr>
                <td>{{room.0}}</td>
                <td>{{room.1}}</td>
                <td>{{room.2}}</td>
                <td>{{room.3}}</td>
            </tr>
            {% endfor %}
          
        </table>
    </div>

    <div class="dashboard-section">
        <h2>Daftar Fasilitas</h2>
        <table>
            <tr>
                <th>ID Fasilitas</th>
                <th>Nama Fasilitas</th>
            </tr>
            {% for facility in data_hotel_facilities %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{facility.0}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
{% endblock content %}