{% extends 'base_customer.html' %}

{% block meta %}
    <title>UPDATE STATUS RESERVASI</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        .dashboard-section {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
{% endblock meta %}
{% block content %}
    <h1>UPDATE STATUS RESERVASI</h1>

    <div class="dashboard-section">
        <form action="{%url 'update-reservasi' reservation_id%}" method="post">
            {%csrf_token%}
            <table>
                <tr>
                    <th>ID Reservasi</th>
                    <td><input type="text" name="id" value="{{id}}" readonly></td>
                </tr>
                <tr>
                    <th>Nomor Kamar</th>
                    <td><input type="text" name="nomor" value="{{nomor}}" readonly></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td><select name="status">
                    {%for id, nama in daftar_status%}
                        <option value="{{id}}" {%if id == status_id%} selected {%endif%}>
                        {{nama}}
                        </option>
                    {%endfor%}
                    </select></td>
                </tr>              
            </table>
            <input type="submit" value="update">
        </form>
        
    </div>

{% endblock content %}
