{% extends 'base_customer.html' %}

{% block content %}

    <div class=" container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class = "review">
                    <h1>Review Form</h1>

                    <form method="POST">            
                        {% csrf_token %}  

                        <div class="mb-3">
                            <label class="form-label">Email:</label>
                            <input class="form-control" value="{{email}}" disabled readonly>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Nama:</label>
                            <input class="form-control" value="{{fname}} {{lname}}" disabled readonly>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="rating_field">Rating:</label>
                            <input class="form-control" id="rating_field">
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="review_field">Review:</label>
                            <textarea class="form-control" id="review_field"></textarea>
                        </div>
                        
                        <input class="btn btn-primary mb-3" type="submit" name="submit" value="Submit">
                    </form>

                    {{error_message}}

                </div>
            </div>
        </div>
    </div>

{% endblock content %}