<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <title>Hotel Details</title>

</head>
<body>
    <div class=" container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-5">Hotel ABCD</h2>
                <table class="table mb-4">
                    <tr>
                        <th>Deskripsi</th>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ultrices elit elit, ac ornare sem euismod at. Sed sit amet arcu neque. Pellentesque eu felis nec neque maximus cursus eu a quam. Curabitur vehicula varius ante nec elementum. Proin accumsan justo ac elit gravida sollicitudin nec vel neque. Suspendisse a bibendum augue. Vestibulum tempor accumsan aliquet. Proin tincidunt lacinia porta. Morbi rutrum a nulla pellentesque tincidunt. Phasellus fermentum tempor est ut mattis. Curabitur quis lorem finibus, ultrices ante at, dapibus ipsum. Duis vel interdum lacus.</td>
                    </tr>
                    <tr>
                        <th>NIB</th>
                        <td>123456789</td>
                    </tr>
                    <tr>
                        <th>Rating</th>
                        <td>4.5</td>
                    </tr>
                    <tr>
                        <th>Alamat</th>
                        <td>Jakarta</td>
                    </tr>
                    <tr>
                        <th>Min Check-In</th>
                        <td>~~~</td>
                    </tr>
                    
                    <tr>
                        <th>Min Check-Out</th>
                        <td>~~~</td>
                    </tr>
                </table>

                <h3 class="mt-5">Kamar Tersedia</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nomor Kamar</th>
                            <th>Fasilitas</th>
                            <th>Harga per Malam</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <td>101</td>
                            <td>Wi-Fi, TV</td>
                            <td>Rp500.000</td>
                            <td><button type="button" class="btn btn-primary mb-3" onclick="bookReservasi()">Reservasi</button></td>
                        </tr>
                        
                        <tr>
                            <td>102</td>
                            <td>Ac, Kolam Renang</td>
                            <td>Rp1.000.000</td>
                            <td><button type="button" class="btn btn-primary mb-3" onclick="bookReservasi()">Reservasi</button></td>
                        </tr>
                    </tbody>
                </table>

                <button type="button" class="btn btn-primary mb-3" onclick="addReview()">Add Review</button>
            </div>
        </div>
    </div>

    <script>
        function bookReservasi(){
            //TODO: func here
            return -1;
        }

        function addReview(){
            //TODO: func here
            return -1;
        }
    </script>

</body>
</html>