{% extends 'base_hotel.html' %}

{% block meta %}

{% endblock meta %}
{% block content %}

<body>
    <div class=" container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-5">Ubah Fasilitas</h2>

                <form class="update-facility-form">

                    <div class="mb-3">
                        <label for="facilityName" class="form-label">Nama baru:</label>
                        <input class="form-control" id="facilityName" placeholder="~~~" required>
                    </div>

                    <button type="button" class="btn btn-primary mx-auto" onclick="updateFacility()">Ubah</button>

                </form>
            </div>
        </div>
    </div>

    <script>
        function updateFacility() {
            //TODO: func here
            return false;
        }
    </script>
</body>
</html>

{% endblock content %}